*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main, #container, .menu-list{
    display: flex;
}
main{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}
#container{
    width: 100%;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #a20a20; */
    flex-wrap: wrap;
}
.box1{
    width: 50%;
    min-width: 300px;
    height: 100%;
}
.box2{
    width: 50%;
    min-width: 300px;
    height: 100%;
    /* background-color: #250183; */
}
.menu-list{
    justify-content: space-around;
    align-items: center;
    color:#fff;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
}
.menu-list li{
    list-style: none;
    color:#343A40;
    font-family: 'Inter', sans-serif;
}
.menu-list li:hover{
    color:#4C6EF5;
}
.menu-nav{
   width: 100%;
   height: 100%;
}
h1{
    color:#4C6EF5;
    font-size: 24px;
    margin: 10px;
    
}